// START header
header.page-header
	// START .high-header
	.high-header
		.wrapper
			a.high-header-block.action.action-city(href="javascript:void(0)")
				span Ваш город
			.city-wrapper(style="display:none;")
				span.city-wrapper-head Выберите свой город
				.city-column
					span.city-head Архангельская область
					span Вычегодский
					span Коряжма
					span Котлас
					span.city-head Вологодская область
					span Великий Устюг
					span Вологда
					span Череповец
					span Киселевск
					span Прокопьевск
					span.city-head Кировская область
					span Вятские поляны
					span Киров
					span Кирово-Чепецк
					span Слободской
					span.city-head Республика Коми
					span Визинга
					span Печора
					span Сосногорск
					span Сыктывкар
					span Усинск
					span Ухта
					span.city-head Костромская область
					span Шарья
					span.city-head Красноярский край
					span Красноярск
				.city-column
					span.city-head Курганская область
					span Курган
					span Шадринск
					span.city-head Московская область
					span Москва
					span Балашиха
					span Королев
					span Мытищи
					span Пушкино
					span Реутов
					span Щелково
					span.city-head Новосибирская область
					span Новосибирск
					span.city-head Омская область
					span Омск
					span.city-head Оренбургская область
					span Новотроицк
					span Орск
					span.city-head Пермский край
					span Березники
					span Пермский Край
					span Пермь
					span Соликамск
					span Александровск
					span Барда
					span Верещагино
				.city-column
					span Кизел
					span Красновишерск
					span Краснокамск
					span Кудымкар
					span Куеда
					span Кунгур
					span Лысьва
					span Нытва
					span Октябрьский
					span Оса
					span Очер
					span Полазна
					span Суксун
					span Уральский
					span Чайковский
					span Чернушка
					span Чусовой
					span Юрла
					span Яйва
					span.city-head Татарстан
					span Альметьевск
					span Елабуга
					span Казань
					span Нижнекамск
					span.city-head Тюменская область
					span Заводоуковск
					span Ишим
					span Курган
				.city-column
					span Можга
					span Сарапул
					span Сигаево
					span.city-head ХМАО
					span Колагым
					span Лангепас
					span Лянтор
					span Нефтеюганск
					span Нижневартовск
					span Нягань
					span Пыть-Ях
					span Радужный
					span Советский
					span Сургут
					span Урай
					span Занты-Мансийск
					span Югорск
					span.city-head ЯНАО
					span Губкинский
					span Лабытнанги
					span Муравленко
					span Новый Уренгой
					span Ноябрьск
					span Салехард

			a.high-header-block.action.action-phone(href="tel:123456789") +7-800-222-55-80
			.high-header-block.social-networks
				a.social.vk(href="javascript:void(0)")
				a.social.fb(href="javascript:void(0)")
				a.social.tg(href="javascript:void(0)")
				a.social.vhatsapp(href="javascript:void(0)")
				a.social.viber(href="javascript:void(0)")
			.high-header-end-block.user-access
				if user
					.user-area
						a.action.user(href=js0)
							span #{user.name}
						.user-area-menu
							ul
								li
									a.ic-user(href=js0) Профиль
								li
									a.ic-logout(href=js0) Выйти
				else
					a.action.registration(href=js0)
						span Регистрация
					a.action.enter(href=js0)
						span Вход

	// END .high-header

	// START .middle-header
	.middle-header
		.wrapper
			a.middle-header-block.logo(href="javascript:void(0)")
				img(src="img/logo.png", alt="ITGreen")
			.middle-header-block.search-block
				form(action="/search")
					.search-field-container
						input.search-field(type="text", name="q", placeholder="Я ищу...")
						button.do-search(type="submit")
					label
						input(name="c", type="checkbox")
						span.checkbox-holder
						span Искать в текущем разделе
			.middle-header-last-block
				a.action.action-bucket(href='javascript:void(0)')
					span Корзина
	// END .middle-header

	// START .navbar
	nav.navbar
		.wrapper
			nav
				ul
					li.menu-switcher
						a
							span Меню
					li
						ul.sub-nav
							li
								a(href='javascript:void(0)') Меню 1
							li
								a(href='javascript:void(0)') Меню 2
							li
								a(href='javascript:void(0)') Меню 3
						a(href='javascript:void(0)') Магазин
					li
						ul.sub-nav
							li
								a(href='javascript:void(0)') Меню 1
							li
								a(href='javascript:void(0)') Меню 2
							li
								a(href='javascript:void(0)') Меню 3
						a(href='javascript:void(0)') Создать свой дизайн
					li
						a(href='javascript:void(0)') Начать зарабатывать
					li
						a(href='javascript:void(0)') Доставка и оплата
					li
						a(href='javascript:void(0)') Гарантии
					li
						a(href='javascript:void(0)') Контакты
	// END .navbar
// END header
