include /src/views/components/index

block defs
	-
		var lang = lang || "ru";
		var htmlClass = htmlClass || "" ;
		var bodyClass = bodyClass || "";
		var pageTitle = pageTitle|| "";
		var activeLkPage = activeLkPage || ""

doctype html
html(class=htmlClass, lang=lang)
	head
		block blockHead
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(name="format-detection" content="telephone=no")
			meta(name="format-detection" content="address=no")

			block blockHeadStyles
				+style("css/main.css")

			block blockHeadScripts

			block blockTitle
				- var title = "ITGreen" + (pageTitle ? " | " + pageTitle : "")
				title #{title}

	block blockBody
		body(class=bodyClass)
			// START .body-wrapper
			.body-wrapper
				// START .content
				.content
					include header
					section
						block blockContent
				// END .content
				include footer
			// END .body-wrapper

			block modals

			block blockBodyScripts
				+script("js/jquery.js")
				+script("js/main.js")
