.b-product-slider
	.b-product-slider__main
		img(src="img/product/product-main-image.jpg", alt="").b-product-slider__main-img

	.b-product-slider__nav
		button(type="button").b-product-slider__arrow.b-product-slider__arrow_prev
		button(type="button").b-product-slider__arrow.b-product-slider__arrow_next

		.b-product-slider__track
			.b-product-slider__item.b-product-slider__item_active
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-1.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-2.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-3.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-4.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-5.jpg").b-product-slider__img
			.b-product-slider__item.b-product-slider__item_active
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-1.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-2.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-3.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-4.jpg").b-product-slider__img
			.b-product-slider__item
				a(href=js0).b-product-slider__link
					img(src="img/product/preview-5.jpg").b-product-slider__img

	buuton.b-product-slider__btn.b-outline-btn редактировать

