mixin catalog-item(data)
	.catalog-item(class=(data.isStock && !!data.isStock) ? 'sale' : null)
		.catalog-item-slides
			a.arrow.next
			a.arrow.previous
			img.catalog-item-image(src=data.imageUrl)
		a.catalog-item-title #{data.title}
		span.price.rouble #{data.price}

mixin catalog-card(data)
	.b-card(class={
		'b-card_sale': data.isStock && !!data.isStock
	})
		.b-card__slides
			a.b-card__arrow.b-card__arrow_next
			a.b-card__arrow.b-card__arrow_previous
			img.b-card__image(src=data.imageUrl)
		a.b-card__title #{data.title}
		span.b-card__price.rouble #{data.price}
		.b-card__footer
			button(type='button').green-button.b-card__buy-btn
				| В корзину
